<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Slip</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/create.css}">
</head>

<body>
    <div class="top">
        <div class="content-all">
            <div class="tools" th:if="${session['loginUser']}!=null">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{'/user/'+${session.loginUser.id}}">[[${session.loginUser.name}]]</a></li>
                    <li><a th:href="@{/emotion}">emotion</a></li>
                    <li><a th:href="@{/reset}">reset</a></li>
                    <li><a th:href="@{/logout}">logout</a></li>
                </ul>
            </div>
            <div class="tools" th:if="${session['loginUser']}==null">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <div class="left">
            <div class="content">
                <div class="content-top">
                    <span><a th:href="@{/}">SLIP</a></span>
                    <span>&nbsp;>&nbsp;</span>
                    <span><a th:href="@{/create}">Create</a></span>
                </div>
                <form th:action="@{/createTopic}" method="post">
                    <div class="title">
                        <textarea id="topic-title" name="title" placeholder="  Please enter your title here."></textarea>
                    </div>
                    <div class="syntax"><span>Context&nbsp;⬇️</span></div>
                    <div class="topic-content">
                        <textarea id="content-topic" name="content" placeholder="  Please enter your text here."></textarea>
                    </div>
                    <div class="topic-type">
                        <span>Choose your topic TYPE:&nbsp;</span>
                        <select id="type" value="1" th:field="*{topicType.type}">
                            <option th:each="type:${T(com.xjtlu.slip.enums.TopicEnum).values()}" th:value="${type}" th:text="${type}"></option>
                        </select>
                    </div>
                    <div class="topic-submit">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="rightBar">
            <div class="inner" th:if="${session['loginUser']}!=null">
                <div class="box">
                    <div class="box-title">
                        <ul>
                            <li class="info-box">
                                <a th:href="@{'/user/'+${session.loginUser.id}}"><img id="avatar" th:src="${session.loginUser.avatar}" alt="avatar"></a>
                            </li>
                            <li class="info-box"><a id="name" th:href="@{'/user/'+${session.loginUser.id}}"><p style="white-space:nowrap;">[[${session.loginUser.name}]]</p></a></li>                        </ul>
                    </div>
                    <div class="box-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><a th:href="@{/topic/u/1}"><span>[[${topicCount}]]</span><span>Topic(s)</span></a></td>
                                <td><a th:href="@{/emotion}"><span>[[${emotionCount}]]</span><span>emotion(s)</span></a></td>
                                <td><a th:href="@{/friends/u/1}"><span>[[${friendships}]]</span><span>Friend(s)</span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sep20"></div>
                <div class="emotion">
                    <div class="emotion-title">
                        <h3>emotion</h3>
                    </div>
                    <div class="create-emotion">
                        <form method="post" th:action="@{/addEmotion}">
                            <input id="content" name='emotion' placeholder="You Can Write Your Emotion Here!">
                            <input class="button" value='Submit' type='submit'>
                        </form>
                    </div>
                    <div class="emotion-content">
                        <ul th:each="emotion:${emotions}">
                            <li class="emotion-item">
                                <p>[[${emotion.content}]]</p>
                                <form method="post" th:action="@{/delEmotion}">
                                    <input type="hidden" name="id" th:value="${emotion.id}">
                                    <input class="button" value='DEL' type='submit'>
                                </form>
                                <span>· [[${emotion.time}]]</span>
                            </li>
                        </ul>
                        <a th:href="@{/emotion}"><span class="watch-more">More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
