<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>[[${topic.title}]]</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/details.css}">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools" th:if="${session['loginUser']}!=null">
                <ul>
                    <li><a th:href="@{/}">Index</a></li>
                    <li><a th:href="@{'/user/'+${session.loginUser.id}}">[[${session.loginUser.name}]]</a></li>
                    <li><a th:href="@{/emotion}">emotion</a></li>
                    <li><a th:href="@{/reset}">reset</a></li>
                    <li><a th:href="@{/logout}">logout</a></li>
                </ul>
            </div>
            <div class="tools" th:if="${session['loginUser']}==null">
                <ul>
                    <li><a th:href="@{/}">首页</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                    <li><a th:href="@{/login}">登陆</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <div class="left">
            <div class="topic-header">
                <div class="href">
                    <a th:href="@{/}">SLIP</a>
                    <span>></span>
                    <a th:href="@{'/topic/t/' + ${topic.type.getValue()}}" th:text="${topic.type}"></a>
                </div>
                <div class="topic-title">
                    <h3>[[${topic.title}]]</h3>
                    <span id="author"><a th:href="@{'/user/'+${user.id}}" th:text="${user.name}"></a> · </span>
                    <span id="time">[[${topic.latestCommentTime}]] · </span>
                    <span id="click-count">[[${topicClickCount}]] clicks</span>
                    <div class="avatar"><img th:src="${user.avatar}" alt="avatar"></div>
                </div>
            </div>
            <div class="topic-content">
                <p>[[${topic.content}]]</p>
                <span id="click-count">· [[${topicClickCount}]] clicks</span>
            </div>
            <div class="sep20"></div>
            <div class="comments">
                <div class="comment-header">
                    <div class="comment-count">
                        <span>[[${commentCount}]] comments</span>
                        <span>·&nbsp;Now:&nbsp;[[${localTime}]]</span>
                    </div>
                </div>
                <div th:each="comment,status:${comments}">
                    <div class="cell">
                        <div class="reply-avatar">
                            <a th:href="@{'/user/'+${comment.user.getId()}}">
                                <img th:src="${comment.user.avatar}" alt="avatar">
                            </a>
                        </div>
                        <div class="reply-info">
                            <span id="user-name"><a th:href="@{'/user/'+${comment.user.getId()}}">[[${comment.user.name}]]</a></span>
                            <span id="time"> · [[${comment.time}]]</span>
                            <span id="count" th:text="${status.count}"></span>
                            <p>[[${comment.content}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="create-reply" th:if="${session['loginUser']}">
                <form th:action="@{/addComment}" method="post">
                    <div class="sep10"></div>
                    <label for="reply-content">Please comment civilly</label><textarea name="replyContent" id="reply-content"></textarea>
                    <input type="hidden" name="topicId" th:value="${topic.id}">
                    <input type="hidden" name="userId" th:value="${session.loginUser.id}">
                    <input class="button" value='Submit' type='submit' th:if="${session['loginUser']}">
                </form>
            </div>
            <div class="sep20"></div>
            <div class="sep20"></div>
            <div class="sep20"></div>
            <div class="sep20"></div>
        </div>
        <div class="rightBar">
            <div class="inner" th:if="${session['loginUser']}!=null">
                <div class="box">
                    <div class="box-title">
                        <ul>
                            <li class="info-box">
                                <a th:href="@{'/user/'+${session.loginUser.id}}"><img id="avatar" th:src="${session.loginUser.avatar}" alt="avatar"></a>
                            </li>
                            <li class="info-box"><a id="name" th:href="@{'/user/'+${session.loginUser.id}}"><p style="white-space:nowrap;">[[${session.loginUser.name}]]</p></a></li>                        </ul>
                    </div>
                    <div class="box-content">
                        <table>
                            <tbody>
                            <tr>
                                <td><a th:href="@{/topic/u/1}"><span>[[${topicCount}]]</span><span>Topic(s)</span></a></td>
                                <td><a th:href="@{/emotion}"><span>[[${emotionCount}]]</span><span>emotion(s)</span></a></td>
                                <td><a th:href="@{/friends/u/1}"><span>[[${friendships}]]</span><span>Friend(s)</span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="create_topic">
                        <a th:href="@{/create}">Create&nbsp;Topic</a>
                    </div>
                </div>
                <div class="sep20"></div>
                <div class="emotion">
                    <div class="emotion-title">
                        <h3>emotion</h3>
                    </div>
                    <div class="create-emotion">
                        <form method="post" th:action="@{/addEmotion}">
                            <input id="content" name='emotion' placeholder="You Can Write Your Emotion Here!">
                            <input class="button" value='Submit' type='submit'>
                        </form>
                    </div>
                    <div class="emotion-content">
                        <ul th:each="emotion:${emotions}">
                            <li class="emotion-item">
                                <p>[[${emotion.content}]]</p>
                                <form method="post" th:action="@{/delEmotion}">
                                    <input type="hidden" name="id" th:value="${emotion.id}">
                                    <input class="button" value='DEL' type='submit'>
                                </form>
                                <span>· [[${emotion.time}]]</span>
                            </li>
                        </ul>
                        <a th:href="@{/emotion}"><span class="watch-more">More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
