<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Slip</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/emotion.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools" th:if="${session['loginUser']}!=null">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{'/user/'+${session.loginUser.id}}">[[${session.loginUser.name}]]</a></li>
                    <li><a th:href="@{/emotion}">emotion</a></li>
                    <li><a th:href="@{/reset}">reset</a></li>
                    <li><a th:href="@{/logout}">logout</a></li>
                </ul>
            </div>
            <div class="tools" th:if="${session['loginUser']}==null">
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/register}">Register</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>
        <h2>All Emotions</h2>
        <div class="emotion-content">
            <ul th:each="emotion:${page.records}">
                <li class="emotion-item">
                    <p>[[${emotion.content}]]</p>
                    </p>
                    <form method="post" th:action="@{/delEmotion}">
                        <input type="hidden" name="id" th:value="${emotion.id}">
                        <input class="button" value='DEL' type='submit'>
                    </form>
                    <span>·&nbsp;[[${emotion.time}]]</span>
                </li>
            </ul>
        </div>
        <div class="page-no">
            <ul>
                <!-- Home -->
                <li>
                    <a th:href="@{/emotion/1}">Home</a>
                </li>
                <!-- Previous -->
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{'/emotion/' + ${page.getCurrent()-1}}" th:text="Previous"></a>
                </li>
                <!-- 中间页 -->
                <li th:each="pageNum:${#numbers.sequence( page.getCurrent() , T(java.lang.Math).min(page.getCurrent()+4, page.getPages()))}">
                    <a th:href="@{'/emotion/' + ${pageNum}}" th:text="${pageNum}" th:if="${pageNum ne page.getCurrent()}"></a>
                    <a th:href="@{'/emotion/' + ${pageNum}}" th:text="${pageNum}" th:if="${pageNum eq page.getCurrent()}" class="active"></a>
                </li>
                <!-- Next -->
                <li th:if="${page.hasNext()}">
                    <a th:href="@{'/emotion/' + ${page.getCurrent()+1}}" th:text="Next"></a>
                </li>
                <!-- Last -->
                <li>
                    <a th:href="@{'/emotion/' + ${page.getPages()}}">Last</a>
                </li>
            </ul>
        </div>
    </div>
</body>
