<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInfo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/member.css}">
</head>

<body>
    <div class="top">
        <div class="content">
            <div class="tools" th:if="${session['loginUser']}!=null">
                <ul>
                    <li><a th:href="@{/}">Index</a></li>
                    <li><a th:href="@{'/user/'+${session.loginUser.id}}">[[${session.loginUser.name}]]</a></li>
                    <li><a th:href="@{/emotion}">emotion</a></li>
                    <li><a th:href="@{/reset}">reset</a></li>
                    <li><a th:href="@{/logout}">logout</a></li>
                </ul>
            </div>
            <div class="tools" th:if="${session['loginUser']}==null">
                <ul>
                    <li><a th:href="@{/}">首页</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                    <li><a th:href="@{/login}">登陆</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="sep20"></div>

        <div class="left">
            <div class="user-part">
                <div class="avatar">
                    <img th:src="${user.avatar}" alt="avatar">
                </div>
                <div class="user-info">
                    <h2>[[${user.name}]]</h2>
                    <table id="info">
                        <tr>
                            <td>手机</td>
                            <td>邮箱</td>
                        </tr>
                        <tr>
                            <td>[[${user.phone}]]</td>
                            <td>[[${user.email}]]</td>
                        </tr>
                    </table>
                    <div class="add-friend" th:if="${isFriend}!=true">
                        <form th:action="@{/addFriend}" method="post">
                            <input type="hidden" name="id" th:value="${user.id}">
                            <button type="submit">add</button>
                        </form>
                    </div>
                    <div class="chat-friend" th:if="${isFriend}==true">
                        <form th:action="@{'/chat/'+${user.id}}" method="get">
                            <button type="submit">chat</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="emotion-part">
                <h2 class="left-title">Emotion</h2>
                <div class="emotion-content">
                    <ul th:each="emotion:${emotionPage.records}">
                        <li class="emotion-item">
                            <p>[[${emotion.content}]]</p>
                            </p>
                            <span>·&nbsp;[[${emotion.time}]]</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sep20"></div>
            <div class="topic-part">
                <h2 class="left-title">Topic</h2>
                <div class="topic-content">
                    <ul th:each="topic:${topicPage.records}">
                        <li class="topic-item">
                            <a th:href="@{'/topic/d/'+${topic.id}}">
                                <p>[[${topic.title}]]</p>
                            </a>
                            </p>
                            <span>·&nbsp;[[${topic.latestCommentTime}]]</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
