<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>

<body>
    <h1>Topics</h1>
    <div class="cell item" style="">
        <p>[[${hello}]]</p>
    </div>
    <!--            <a href="">-->
    <!--                <img th:src="${session.loginUser.avatar}" class="avatar">-->
    <!--            </a><br>-->
    <!--            <a>-->
    <!--                Welcome, [[${session.loginUser.name}]]-->
    <!--            </a><br>-->
    <!--            <a th:href="@{/logout}">Logout</a>-->

</body>

</html>