<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${topic.title}]]</title>
    <style>
        .avatar {
            border: 1px solid #000;
            width: 100px;
            horiz-align: center;
        }

        .fr {
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>


</head>
<body>
<!--<div>-->
<!--    <a href="[[${contextPath}]]/topics/[[${topic.id}]]/edit">Edit</a>-->
<!--</div>-->
<div class="box" style="border-bottom: 0;">
    <h1>[[${topic.title}]]</h1>
    <div class="header">
        <div class="fr">
            <a href="">
                <img th:src="${session.loginUser.avatar}" class="avatar">
            </a><br>
            <a>
                Welcome, [[${session.loginUser.name}]]
            </a><br>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <a th:href="@{/topic}">Slip</a>
        <span class="chevron">&nbsp;›&nbsp;</span>
        <a th:href="@{'/' + ${topic.type}}">[[${topic.type}]]</a><br>
        <small class="gray">
            <span th:text="${user.name}"/>
            <span th:text="${#dates.format(topic.createUnixTime*1000, 'yyyy-MM-dd HH:mm:ss')}"></span>
            <span th:text="${topicClickCount}" class="gray">clicks</span>
        </small>
    </div>
    <div class="cell">
        <div class="topic_content">
            <div>
                <b>正文格式待修改</b>
            </div><br>
            <div class="markdown_body">
                [[${topic.content}]]
            </div>
        </div>
    </div>
</div>


</body>
</html>
